{% load static %}
{% load shopping_site_tags %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Art Sazhko</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Brancy - Cosmetic & Beauty Salon Website Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="bootstrap, ecommerce, ecommerce html, beauty, cosmetic shop, beauty products, cosmetic, beauty shop, cosmetic store, shop, beauty store, spa, cosmetic, cosmetics, beauty salon" />
    <meta name="author" content="codecarnival" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.webp" %}">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css" %}">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="{% static "css/plugins/swiper-bundle.min.css" %}">
    <link rel="stylesheet" href="{% static "css/plugins/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/plugins/fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "css/plugins/nice-select.css" %}">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "css/style.min.css" %}">
	 <link rel="stylesheet" href="{% static "css/my.css" %}">

</head>



<body>

    <!--== Wrapper Start ==-->
    <div class="wrapper my-wrapper">

        <!--== Start Header Wrapper ==-->
        <header class="header-area sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-5 col-sm-6 col-lg-3">
                        <div class="header-logo">
                            <a href="{% url 'home' %}">
                                <img class="logo-main" src="{% static "images/logo.png" %}" width="95" height="68" alt="Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="header-navigation">
                            <ul class="main-nav justify-content-start">
                                <li><a class='title-text' href="{% url 'home' %}">Home</a></li>
										  <li><a class='title-text' href="{% url 'shop' %}">Shop</a></li>
                                <li><a class='title-text' href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
						  <div class="col-7 col-sm-6 col-lg-3">
							   <div class="header-action justify-content-end">
								{% if user.is_authenticated %}
									<ul class="main-nav justify-content-start">
										<li><a class='title-text' href="{% url 'profile' user.id %}">{{ user.get_username }}</a></li>
										<li><a class='title-text' href="{% url 'logout' %}">Logout </a></li>
									</ul>	
								{% else %}
									<ul class="main-nav justify-content-start">
										<li><a class='title-text' href="{% url 'login' %}">Login</a></li>
										<li><a class='title-text' href="{% url 'register' %}">Register </a></li>
									</ul>	
								{% endif %}
								</div>
                    </div>
                </div>
            </div>
        </header>
        <!--== End Header Wrapper ==-->
<main class="main-content my-main-content">
<!--== content ==-->  
{% block content %}
{% endblock %}
<!--== End content ==-->
</main>
		</body>
        <!--== Start Footer Area Wrapper ==-->
        <footer class="footer-area my-footer">
            <!--== Start Footer Bottom ==-->
            <div class="footer-bottom">
                <div class="container pt-0 pb-0">
                    <div class="footer-bottom-content ">
                        <h5>
									Our telegram channel:
									<a href="https://t.me/art_sazhko" target="_blank" rel="noopener"><i class="fa fa-paper-plane"></i></a>	
								</h5>
                    </div>
                </div>
            </div>
            <!--== End Footer Bottom ==-->
        </footer>
        <!--== End Footer Area Wrapper ==-->
    <!-- JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS -->
    <script src="{% static "js/vendor/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery-migrate-3.3.2.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.bundle.min.js" %}"></script>
    <!-- Custom Main JS -->
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>
