{% extends 'shopping_site/base.html' %}
{% load static %}
{% load shopping_site_tags %}
{% block content %}
<!DOCTYPE html>

            <!--== Start Product Area Wrapper ==-->
                <div class="container">
                    <div class="row justify-content-between flex-xl-row-reverse">
                        <div class="col-xl-9">
                            <div class="row g-3 g-sm-6">
										{% for item in all_products %}
                                <div class="col-6 col-lg-4 col-xl-4 mb-4 mb-sm-8">
                                    <!--== Start Product Item ==-->
                                    <div class="product-item product-st3-item">
                                        <div class="product-thumb">
                                            <a class="d-block" href="{{item.get_absolute_url}}">
															{% if item.photo %}
                                                <img src="{{item.photo.url}}" width="370" height="450" alt="Image-HasTech">
															{% else %}
																<img src="{% static "images/shop/1.webp" %}" width="370" height="450" alt="Image-HasTech">
															{% endif %}
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h4 class="title"><a href="{{item.get_absolute_url}}">{{item.name}}</a></h4>
                                            <div class="prices">
                                                <span class="price">{{item.price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--== End prPduct Item ==-->
                                </div>
										  {% endfor %}
                                <div class="col-12">
											{% if page_obj.has_other_pages %}
                                 <ul class="pagination justify-content-center me-auto ms-auto mt-5 mb-10">
                                 	<li class="page-item">
											{% if page_obj.has_previous %}
                                    <a class="page-link previous" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                    </a>
											{% else %}
                                    <a class="page-link previous" aria-label="Previous">
                                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                    </a>											
											{% endif %}
                                </li>
										  {% for page in paginator.page_range %}
										  {% if page_obj.number == page %}
                                <li class="page-item"><a class="page-link"><div style="color:#f44336">{{page}}</div></a></li>
										  {% elif page >= page_obj.number|add:-1 and page <= page_obj.number|add:1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
										  {% endif %}
        								  {% endfor %}
										   <li class="page-item">
											{% if page_obj.has_next %}
                                    <a class="page-link next" href="?page={{ page_obj.next_page_number }}" aria-label="next">
                                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                    </a>
											{% else %}
                                    <a class="page-link Next" aria-label="next">
                                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                    </a>											
											{% endif %}
											{% endif %}
                                	</li>
                                 </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="product-sidebar-widget">
                                <div class="product-widget-search">
                                    <form action={% url 'search' %} method ="POST">
												{% csrf_token %}
                                        <input type="search" placeholder="Search Here" name = 'search' value = {{search_value}}>
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>	
                                <div class="product-widget">
                                    <h4 class="product-widget-title">Categories</h4>
                                    <ul class="product-widget-category">
													 {% show_categories cat_slug %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Product Area Wrapper ==-->
{% endblock %}