{% extends 'shopping_site/base.html' %}
{% load static %}
{% load shopping_site_tags %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
            <!--== Start Product Details Area Wrapper ==-->
             <section class="section-space" style="padding-top: 50px" >   
				<div class="container">
                    <div class="row product-details">
                        <div class="col-lg-6">
                            <div class="product-details-thumb">
										{% if product.photos.all %}
										<div class="swiper hero-slider-container">
                              	<div class="swiper-wrapper">
								         {% for i in product.photos.all %}
                                 	<div class="swiper-slide">
                                 	<img src="{{i.photo.url}}" class='swiper-img'width="550" height="600">	
                                    </div>
								         {% endfor %}
                                 </div>
                              </div>
										{% else %}
											<img src={% static "images/shop/product-details/1.webp" %} class='swiper-img' width="570" height="693">
										{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details-content">
                                <h3 class="product-details-title">{{product.name}}</h3>
										  <ul class="product-details-info-wrap">
											{% if product.material %}
                                        <li><span>material</span>
                                            <p>{{product.material}}</p>
                                        </li>
											{% endif %}
											{% if product.size %}
                                        <li><span>Dimensions</span>
                                            <p>{{product.size}}</p>
                                        </li>
											{% endif %}
                                 </ul>
                                <p class="mb-7">{{product.content}}</p>
                                <div class="product-details-action">
                                    <h4 class="price">{{product.price}} руб.</h4>
                                </div>
										  <div class="product-details-action">
                        				<div class="newsletter-form">
                            				<form action={% url 'email' %} method ="POST">
														{% csrf_token %}
                                				<input name = 'email' class="form-control" placeholder="Введите свой номер телефона для заказа">
                                				<button class="btn-submit" type="submit" onclick="alert('Подтвердите заявку')" ><i class="fa fa-paper-plane"></i></button>
                            				</form>
                        				</div>
                    				   </div>
                            </div>
                        </div>
                    </div>
						   <div class="row">
                        <div class="col-lg-7">
									{% if product.comment_good.all %}
                            <div class="nav product-details-nav" id="product-details-nav-tab" role="tablist">
                                <p class="nav-link active" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="text" role="tab" aria-controls="review" aria-selected="true">Отзывы</p>
                            </div>
                            <div class="tab-content" id="product-details-nav-tabContent">
                                <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
											<!--== Start Reviews Content Item ==-->
											{% for item in product.comment_good.all %}
                                    <div class="product-review-item mb-0">
                                        <div class="product-review-top" style="flex-direction: row-reverse">
                                            <div class="product-review-content" >
                                                <span class="product-review-name">{% if item.username %}{{item.username}} {% else %} Покупатель {% endif %}</span>
                                                <div class="product-review-icon">
																	{% state_comment item.state as states %}
																	{% for item in states %}
																	{% if item != 0 %}
                                                    <i class="fa fa-star" ></i>
																	{% else %}
                                                    <i class="fa fa-star-o"></i>
																	{% endif %}
																	{% endfor %}
                                                </div>
															
                                            </div>
                                        </div>
                                        <p style="word-break:break-all;" class="desc">{{item.comment}}</p>
                                    </div>
                                    <!--== End Reviews Content Item ==-->
												<p></p>
											{% endfor %}
                                </div>
                            </div>
									{% else %}
									<div class="nav product-details-nav" id="product-details-nav-tab" role="tablist">
                                <p class="nav-link active" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="text" role="tab" aria-controls="review" aria-selected="true">Отзывы</p>
                            </div>
									 <!--== Start Reviews Content Item ==-->
									       <div class="product-review-item mb-0">
                                        <div class="product-review-top" style="justify-content: center; margin-bottom:0px">
                                            <div class="product-review-content">
                                                <span class="product-review-name" style="font-size: 22px;">Отзывов нет</span>
                                            </div>
                                        </div>
                                    </div>
												 <!--== End Reviews Content Item ==-->
									{% endif %}
                        </div>
                        <div class="col-lg-5">
                            <div class="product-reviews-form-wrap">
                                <h4 class="product-form-title">Оставьте комментарий</h4>
                                <div class="product-reviews-form">
                                    <form method="POST">
													{% csrf_token %}
													 <div class="form-input-item">
                                            <input class="form-control" style="font-size: 18px" type="text" maxlength="20" placeholder="Пользователь" name="username" {% if user.is_authenticated %} value={{user}} {% endif %}>
														  <input class="form-control" type="hidden" placeholder="Пользователь" name="user" {% if user.is_authenticated %} value={{user.id}} {% endif %}>
														  <input class="form-control" type="hidden" placeholder="Пользователь" name="product"  value={{product.id}}>
                                        </div>
                                        <div class="form-input-item">
                                            <textarea class="form-control" style="font-size: 18px; word-break:break-all; " placeholder="Текст комментария" name="comment"></textarea>
                                        </div>
                                        <div class="form-input-item">
                                            <div class="form-ratings-item">
                                                <select id="product-review-form-rating-select" style="font-size: 16px; padding-left: 18px; border-radius: 15px" style ="border-radius: 10px" class="select-ratings" name="state">
																	 <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                <span class="title">Поставьте оценку</span>
                                            </div>
                                        </div>
                                        <div class="form-input-item mb-0">
                                            <button type="submit" class="btn">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
					</div>	
					</section>
            <!--== End Product Details Area Wrapper ==-->
{% endblock %}

