{% extends 'shopping_site/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
            <!--== Start Product Details Area Wrapper ==-->
                <div class="container">
                    <div class="row product-details">
                        <div class="col-lg-6">
                            <div class="product-details-thumb">
										{% if product.photos.all %}
										<div class="swiper hero-slider-container">
                              	<div class="swiper-wrapper">
								         {% for i in product.photos.all %}
                                 	<div class="swiper-slide">
                                 	<img src="{{i.photo.url}}" class='swiper-img'width="550" height="600">	
                                    </div>
								         {% endfor %}
                                 </div>
                              </div>
										{% else %}
											<img src={% static "images/shop/product-details/1.webp" %} class='swiper-img' width="570" height="693">
										{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details-content">
                                <h3 class="product-details-title">{{product.name}}</h3>
										  <ul class="product-details-info-wrap">
											{% if product.material %}
                                        <li><span>material</span>
                                            <p>{{product.material}}</p>
                                        </li>
											{% endif %}
											{% if product.size %}
                                        <li><span>Dimensions</span>
                                            <p>{{product.size}}</p>
                                        </li>
											{% endif %}
                                 </ul>
                                <p class="mb-7">{{product.content}}</p>
                                <div class="product-details-action">
                                    <h4 class="price">{{product.price}} руб.</h4>
                                </div>
										  <div class="product-details-action">
                        				<div class="newsletter-form">
                            				<form action={% url 'email' %} method ="POST">
														{% csrf_token %}
                                				<input name = 'email' class="form-control" placeholder="Введите свой номер телефона для заказа">
                                				<button class="btn-submit" type="submit" onclick="alert('Подтвердите заявку')" ><i class="fa fa-paper-plane"></i></button>
                            				</form>
                        				</div>
                    				   </div>
                            </div>
                        </div>
                    </div>
                </div>	
            <!--== End Product Details Area Wrapper ==-->
{% endblock %}

